---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---




<h1>Publications</h1>

{% if site.author.googlescholar %}
  <div class="wordwrap"> Also accessible on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<!-- <h2>Books</h2>
<ol type="1">
  <li>M. Li, <b>J. Gao</b>, X. Shen and L. Zhao, <a href="https://link.springer.com/book/10.1007/978-3-031-22860-5">Intelligent Computing and Communication for the Internet of Vehicles</a>. eBook ISBN 978-3-031-22860-5, Softcover ISBN: 978-3-031-22859-9. Springer, 2023.</li>
  <li><b>J. Gao</b>, M. Li, and W. Zhuang, <a href="https://link.springer.com/book/10.1007/978-3-030-88743-8">Connectivity and Edge Computing in IoT: Customized Designs and AI-based Solutions</a>. eBook ISBN 978-3-030-88743-8, Hardcover ISBN 978-3-030-88742-1. Springer, 2021.</li>
</ol> -->

<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
}
</style>


<!-- <div class="row">
  <div class="column">
  <center><img src="../images/Book.png" style="width:38%"  alt="Book1"></center>
  </div>
  <div class="column">
    <center><img src="../images/Book2.png" style="width:38%" alt="Book2"></center>
  </div>
</div> -->


<!-- <h2>Book Chapters</h2>
<ol type="1">
  <li><b>J. Gao</b>, M. Li, X. Ling, L. Zhao, and X. Shen, "State Transition Field: A New Framework for Mobile Dynamic Caching," in <a href="https://link.springer.com/book/10.1007/978-3-030-98064-1">Broadband Communications, Computing, and Control for Ubiquitous Intelligence</a>. Editors: L. Cai, B. L. Mark, and J. Pan, Springer, 2022, pp. 143-173.</li>
  <li><b>J. Gao</b>, S. A. Vorobyov, and H. Jiang, "Game theory in multiuser wireless communications," in <a href="https://www.taylorfrancis.com/books/edit/10.1201/b10975/game-theory-wireless-communications-networking-mohsen-guizani-yan-zhang">Game Theory for Wireless Communications and Networking</a>. Editors: Y. Zhang and M. Guizani, CRC Press, ISBN: 978-1-4398-0889-4, 2011, pp. 3-25.</li>
</ol> -->


<!-- <h2>Patents</h2>
<ol type="1">
  <li>W. Zhuang, <b>J. Gao</b>, X. Shen, and X. Li. <a href="https://patents.google.com/patent/US11991744B2/en?oq=US11991744">Method, apparatus and system for medium access control</a>. US Patent US11991744B2. 2024.</li>
  <li>W. Zhuang, <b>J. Gao</b>, X. Shen, and X. Li. <a href="https://patents.google.com/patent/US11363629B2/en?oq=US11363629">Method, apparatus and system for medium access control</a>. US Patent US11363629B2. 2022.</li>
</ol> -->




<h2>Journal Papers</h2>
<ol type="1">
  <li><b>C. Zhou</b>, S. Hu, J. Gao, X. Huang, W. Zhuang, and X. Shen, "User-centric Immersive Communications in 6G: A Data-oriented Approach via Digital Twin," <b>[WCM] IEEE Wireless Communications</b>, submitted.</li>
  <li>C. Zhou, J. Gao, S. Hu, N. Cheng, W. Zhuang, and X. Shen, "Digital Twin-based User-centric Service Provision for Edge-assisted Mobile Augmented Reality," <b>[TMC] IEEE Transactions on Mobile Computing</b>, in revision.</li>
  <li>C. Zhou, J. Gao, M. Li, N. Cheng, X. Shen, and W. Zhuang, "Digital Twin-based 3D Map Management for Edge-assisted Device Pose Tracking in Mobile AR," <b>[IOTJ] IEEE Internet of Things Journal</b>, vol. 11, no. 10, pp. 17812-17826, 2024.</li>
  <li>C. Zhou, J. Gao, M. Li, X. Shen, W. Zhuang, X. Li, and W. Shi, "AI-Assisted Slicing-Based Resource Management for Two-Tier Radio Access Networks," <b>[TCCN] IEEE Transactions on Cognitive Communications and Networking</b>, vol. 9, no. 6, pp. 1691-1706, 2023.</li>
  <li>C. Zhou, J. Gao, M. Li, X. Shen, and W. Zhuang, "Digital Twin-Empowered Network Planning for Multi-Tier Computing," <b>[JCIN] Journal of Communications and Information Networks</b>, vol. 7, no. 3, pp. 221-238, 2022. <font color="#e91e63">[Cover Article]</font></li>
  <li>C. Zhou, W. Wu, H. He, P. Yang, F. Lyu, N. Cheng, and X. Shen, "Deep Reinforcement Learning for Delay-Oriented IoT Task Scheduling in SAGIN," <b>[TWC] IEEE Transactions on Wireless Communications</b>, vol. 20, no. 2, pp. 911-925, 2021.</li>
  <li>M. He, H. Wu, C. Zhou, S. Hu, X. Shen, and W. Zhuang, "Adaptive Multi-Dimensional Resource Slicing in Cognitive Satellite-Terrestrial Vehicular Networks," <b>[TCCN] IEEE Transactions on Cognitive Communications and Networking</b>, submitted, 2024.</li>
  <li>X. Shen, X. Huang, J. Xue, C. Zhou, X. Shi, and W. Zhuang, "Revolutionizing QoE-Driven Network Management with Digital Agent Technology in 6G," <b>[COMMAG] IEEE Communications Magazine</b>, submitted, 2024.</li>
  <li>B. Guo, C. Zhou, B. He, J. Chen, and X. Shen, "Mixture-of-Experts as Continual Knowledge Adapter for Mobile Vision Understanding," <b>[TMC] IEEE Transactions on Mobile Computing</b>, major revision, 2024.</li>
  <li>F. Wu, S. Wang, J. Zhou, H. Pan, C. Zhou, F. Lyu, Y. Wang, and Y. Zhang, "Multi-Variate Time Series Prediction of Traffic and Users for Dynamic RRH-BBU Mapping in C-RAN," <b>[TMC] IEEE Transactions on Mobile Computing</b>, major revision, 2024.</li>
  <li>J. He, N. Cheng, R. Sun, R. Zhang, C. Zhou, W. Quan, and C. Li, "Towards Native Intelligence: An Efficient and Flexible AI Services Provision Scheme in Multi-layer Heterogeneous Networks," <b>[IOTJ] IEEE Internet of Things Journal</b>, accepted, 2024.</li>
  <li>J. Yang, J. He, N. Cheng, Z. Yin, D. Han, C. Zhou, and R. Sun, "Multi-layer Satellite Network Collaborative Mobile Edge Caching: A GCN-based Multi-agent Approach," <b>[China Commun.] China Communications</b>, accepted, 2024.</li>
  <li>X. Huang, H. Yang, C. Zhou, M. He, X. Shen, and W. Zhuang, "When Digital Twin Meets Generative AI: Intelligent Closed-Loop Network Management," <b>[Network] IEEE Network</b>, accepted, 2024.</li>
  <li>L. Ma, N. Cheng, H. Chen, R. Sun, C. Zhou, Y. Zhang, and Y. Hui, "Value of Information Optimization for Object Detection Driven Joint Video Transmission and Processing in UAV-enabled Wireless Networks," <b>[JMASS] IEEE Journal on Miniaturization for Air and Space Systems</b>, submitted, 2024.</li>
  <li>M. Li, J. Gao, C. Zhou, L. Zhao, and X. Shen, "Digital Twin-Empowered Resource Allocation for On-Demand Collaborative Sensing," <b>[IOTJ] IEEE Internet of Things Journal</b>, accepted, 2024.</li>
  <li>Z. Huang, P. Yang, C. Zhou, W. Wu, and N. Zhang, "Joint Sensing and Communication for mmWave VR in Metaverse: A Meta-Learning Approach," <b>[IOTJ] IEEE Internet of Things Journal</b>, vol. 11, no. 13, pp. 24049-24060, 2024.</li>
  <li>Y. Hui, Y. Li, N. Cheng, C. Li, C. Zhou, Z. Su, and R. Chen, "Prevent Deception: On-demand Data Synchronization for Vehicular Digital Twins," <b>[TITS] IEEE Transactions on Intelligent Transportation Systems</b>, accepted, 2024.</li>
  <li>X. Qian, Z. Zuo, D. Xu, S. He, C. Zhou, Z. Wang, S. Xie, Y. Zhang, F. Wu, L. Zhang, Z. Qian, and Y. Zhang, "Demystifying COVID-19 Mortality Causes with Interpretable Data Mining," <b>[Sci Rep] Scientific Reports</b>, 14, 10076, 2024.</li>
  <li>H. Lu, F. Lyu, J. Ren, H. Wu, C. Zhou, Z. Liu, Y. Zhang, and X. Shen, "CODE+: Fast and Accurate Inference for Compact Distributed IoT Data Collection," <b>[TPDS] Transactions on Parallel and Distributed Systems</b>, vol. 35, no. 11, pp. 2006-2022, 2024.</li>
  <li>H. Li, W. Chen, C. Zhou, H. Wu, F. Lyu, and X. Shen, "A Two-Dimensional Hybrid Federated Learning Framework for Secure Data Cooperation of Multiple Network Service," <b>[WCM] IEEE Wireless Communications</b>, accepted, 2024. doi: 10.1109/MWC.018.2300534</li>
  <li>J. He, N. Cheng, Z. Yin, H. Zhou, C. Zhou, K. Aldubaikhy, A. Alqasir, and X. Shen, "Load-Aware Network Resource Orchestration in LEO Satellite Network: A GAT-Based Approach," <b>[IOTJ] IEEE Internet of Things Journal</b>, vol. 11, no. 9, pp. 15969-15984, 2024.</li>
  <li>X. Huang, W. Wu, S. Hu, M. Li, C. Zhou, and X. Shen, "Digital Twin Based User-Centric Resource Management for Multicast Short Video Streaming," <b>[JSTSP] IEEE Journal of Selected Topics in Signal Processing</b>, vol. 18, no. 1, pp. 50-65, 2024.</li>
  <li>W. Wang, N. Cheng, M. Li, T. Yang, C. Zhou, C. Li, F. Chen, "Value Matters: A Novel Value of Information-Based Resource Scheduling Method for CAVs," <b>[TVT] IEEE Transactions on Vehicular Technology</b>, vol. 73, no. 6, pp. 8720-8735, 2024.</li>
  <li>S. Hu, M. Li, J. Gao, C. Zhou, and X. Shen, "Adaptive Device-Edge Collaboration on DNN Inference in AIoT: A Digital Twin-Assisted Approach," <b>[IOTJ] IEEE Internet of Things Journal</b>, vol. 11, no. 7, pp. 12893-12908, 2024.</li>
  <li>L. Ma, N. Cheng, C. Zhou, X. Wang, N. Lu, N. Zhang, K. Aldubaikhy, and A. Alqasir, "Dynamic Neural Network-Based Resource Management for Mobile Edge Computing in 6G Networks," <b>[TCCN] IEEE Transactions on Cognitive Communications and Networking</b>, vol. 10, no. 3, pp. 953-967, 2024.</li>
  <li>M. Li, J. Gao, C. Zhou, X. Shen, and W. Zhuang, "User Dynamics-Aware Edge Caching and Computing for Mobile Virtual Reality," <b>[JSTSP] IEEE Journal of Selected Topics in Signal Processing</b>, vol. 17, no. 5, pp. 1131-1146, 2023.</li>
  <li>J. He, N. Cheng, Z. Yin, C. Zhou, H. Zhou, W. Quan, and X. Lin, "Service-Oriented Network Resource Orchestration in Space-Air-Ground Integrated Network," <b>[TVT] IEEE Transactions on Vehicular Technology</b>, vol. 73, no. 1, pp. 1162-1174, 2024.</li>
  <li>W. Wu, M. Li, K. Qu, C. Zhou, X. Shen, W. Zhuang, X. Li, and W. Shi, "Split Learning over Wireless Networks: Parallel Design and Resource Management," <b>[JSAC] IEEE Journal on Selected Areas in Communications</b>, vol. 41, no. 4, pp. 1051-1066, 2023.</li>
  <li>X. Shen, J. Gao, M. Li, C. Zhou, S. Hu, M. He, and W. Zhuang, "Towards Immersive Communications in 6G," <b>Frontiers in Computer Science</b>, vol. 4, pp. 168-168, 2022.</li>
  <li>W. Wu, C. Zhou, M. Li, H. Wu, H. Zhou, X. Shen, and W. Zhuang, "AI-Native Network Slicing for 6G Networks," <b>[WCM] IEEE Wireless Communications</b>, vol. 29, no. 1, pp. 96-103, 2022.</li>
  <li>X. Shen, J. Gao, W. Wu, M. Li, C. Zhou, and W. Zhuang, "Holistic Network Virtualization and Pervasive Network Intelligence for 6G," <b>IEEE Communications Surveys and Tutorials</b>, vol. 24, no. 1, pp. 1-30, 2022. <font color="#e91e63">[Invited Paper]</font></li>
  <li>N. Cheng, J. He, Z. Yin, C. Zhou, H. Wu, F. Lyu, H. Zhou, X. Shen, "6G Service-Oriented Space-Air-Ground Integrated Network: A Survey," <b>Elsevier Chinese Journal of Aeronautics</b>, vol. 35, no. 9, pp. 1-18, 2022.</li>
  <li>F. Lyu, P. Yang, H. Wu, C. Zhou, J. Ren, Y. Zhang, and X. Shen, "Service-Oriented Dynamic Resource Slicing and Optimization for Space-Air-Ground Integrated Vehicular Networks," <b>[TITS] IEEE Transactions on Intelligent Transportation Systems</b>, vol. 23, no. 7, pp. 7469-7483, 2022.</li>
  <li>M. Li, J. Gao, C. Zhou, X. Shen, and W. Zhuang, "Slicing-Based Artificial Intelligence Service Provisioning on the Network Edge: Balancing AI Service Performance and Resource Consumption of Data Management," <b>[VTM] IEEE Vehicular Technology Magazine</b>, vol. 16, no. 4, pp. 16-26, 2021.</li>
  <li>H. Wu, J. Chen, C. Zhou, J. Li, and X. Shen, "Learning-Based Joint Resource Slicing and Scheduling in Space-Terrestrial Integrated Vehicular Networks," <b>[JCIN] Journal of Communications and Information Networks</b>, vol. 6, no. 3, pp. 208-223, 2021. <font color="#e91e63">[Invited Paper]</font></li>
  <li>W. Wu, N. Chen, C. Zhou, M. Li, X. Shen, W. Zhuang, and X. Li, "Dynamic RAN Slicing for Service-Oriented Vehicular Networks via Constrained Learning," <b>[JSAC] IEEE Journal on Selected Areas in Communications</b>, vol. 39, no. 7, pp. 2076-2089, 2021.</li>
  <li>W. Shi, J. Li, H. Wu, C. Zhou, N. Cheng, and X. Shen, "Drone-Cell Trajectory Planning and Resource Allocation for Highly Mobile Networks: A Hierarchical DRL Approach," <b>[IOTJ] IEEE Internet of Things Journal</b>, vol. 8, no. 12, pp. 9800-9813, 2021.</li>
  <li>W. Wu, P. Yang, W. Zhang, C. Zhou, and X. Shen, "Accuracy-Guaranteed Collaborative DNN Inference in Industrial IoT via Deep Reinforcement Learning," <b>[TII] IEEE Transactions on Industrial Informatics</b>, vol. 17, no. 7, pp. 4988-4998, 2021.</li>
  <li>X. Shen, N. Cheng, H. Zhou, F. Lyu, W. Quan, W. Shi, H. Wu, and C. Zhou, "Space-Air-Ground Integrated Networks: Review and Prospect," <b>Chinese Journal on Internet of Things</b>, vol. 4, no. 3, pp. 3-10, 2020.</li>
  <li>H. Wu, J. Chen, C. Zhou, W. Shi, N. Cheng, W. Xu, W. Zhuang, and X. Shen, "Resource Management in Space-Air-Ground Integrated Vehicular Networks: SDN Control and AI Algorithm Design," <b>[WCM] IEEE Wireless Communications</b>, vol. 27, no. 6, pp. 52-60, 2020.</li>
  <li>H. Wu, F. Lyu, C. Zhou, J. Chen, L. Wang, and X. Shen, "Optimal UAV Caching and Trajectory in Aerial-Assisted Vehicular Networks: A Learning-Based Approach," <b>[JSAC] IEEE Journal on Selected Areas in Communications</b>, vol. 38, no. 12, pp. 2783-2797, 2020.</li>
  <li>N. Cheng, F. Lyu, W. Quan, C. Zhou, H. He, W. Shi, and X. Shen, "Space/Aerial-Assisted Computing Offloading for IoT Applications: A Learning-Based Approach," <b>[JSAC] IEEE Journal on Selected Areas in Communications</b>, vol. 37, no. 5, pp. 1117-1129, 2019.</li>
  <li>J. Xu, F. Liu, J. Liu, J. Wang, P. Han, C. Zhou, and X. Shao, "A Design of Real-Time Unipath Polarization Imaging System Based on Wollaston Prism," <b>Acta Physica Sinica</b>, vol. 67, no. 13, pp. 134201, 2016.</li>
</ol>


<!-- <h2>Magazine Papers</h2>
<ol type="1">
  <li>N. Huang, M. Dai, Y. Wu, L. Qian, <b>J. Gao</b> and Z. Su, "<a href="https://ieeexplore.ieee.org/document/10273259">Networked Integration of Sensing and Communication for Extended Reality: Framework, Challenges and Solutions</a>," in IEEE Network, vol. 38, no. 3, pp. 269-276, May 2024. </li>
  <li>M. Li, <b>J. Gao</b>, C. Zhou, X. S. Shen and W. Zhuang, "<a href="https://ieeexplore.ieee.org/abstract/document/9586568">Slicing-Based Artificial Intelligence Service Provisioning on the Network Edge: Balancing AI Service Performance and Resource Consumption of Data Management</a>," in IEEE Vehicular Technology Magazine, vol. 16, no. 4, pp. 16-26, Dec. 2021. </li>
</ol> -->


<!-- <h2>Conference Papers</h2>
<ol type="1">
  <li>M. Li, <b>J. Gao</b>, C. Zhou, L. Zhao and X. Shen, "On-Demand Collaborative Sensing with Digital Twin-Driven Resource Allocation," IEEE 100th Vehicular Technology Conference (24VTC-Fall), accepted. </li>
  <li>C. Zhou, <b>J. Gao</b>, Y. Liu, S. Hu, Nan Cheng and X. Shen, "User-centric Service Provision for Edge-assisted Mobile AR: A Digital Twin-based Approach," IEEE/CIC International Conference on Communications in China (ICCC), Hangzhou, China, Aug. 2024, pp. 850-855.</li>
  <li>S. Hu, <b>J. Gao</b>, X. H, C. Zhou, M. He, and X. Shen, "Model Drift-Adaptive Resource Reservation in ISAC Networks: A Digital Twin-Based Approach," IEEE/CIC International Conference on Communications in China (ICCC), Hangzhou, China, Aug. 2024, pp. 2143-2148. </li>
  <li>S. Hu, <b>J. Gao</b>, X. Huang, M. Li, K. Qu, C. Zhou and X. Shen, "<a href="https://ieeexplore.ieee.org/document/10622545">Digital Twin-Based User-Centric Edge Continual Learning in Integrated Sensing and Communication</a>," IEEE International Conference on Communications (ICC), Denver, CO, USA, 2024, pp. 5646-5651.</li>
  <li>A. Ajeena*, <b>J. Gao</b>, M. Hayat, L. Zhao and X. Shen, "<a href="https://ieeexplore.ieee.org/document/10622543">Location-Based Medium Access Control for Next-Generation Industrial IoT Networks</a>,"  IEEE International Conference on Communications (ICC),  Denver, CO, USA, 2024, pp. 4799-4804. </li>
  <li>C. Meng, F. Lyu, <b>J. Gao</b>, T. Liu, J. Ma and X. Shen, "<a href="https://ieeexplore.ieee.org/document/10622377">FL2ETD: A Few-Shot Learning Framework to Electricity Theft Detection</a>," IEEE International Conference on Communications (ICC), Denver, CO, USA, 2024, pp. 2495-2500.</li>
  <li>S. Wang, F. Wu, <b>J. Gao</b>, S. Duan, F. Lyv, H. Wu, Y. Zhang and X. Shen, "<a href="https://ieeexplore.ieee.org/document/10437846">Dynamic RRH-BBU Mapping for C-RAN: A Data-Driven Approach</a>," IEEE Global Communications Conference (GLOBECOM), Kuala Lumpur, Malaysia, 2023, pp. 2656-2661. </li>
  <li>C. Zhou, <b>J. Gao</b>, M. Li, N. Cheng, X. Shen and W. Zhuang, "<a href="https://ieeexplore.ieee.org/document/10233293">Digital Twin-Based 3D Map Management for Edge-Assisted Mobile Augmented Reality</a>," IEEE/CIC International Conference on Communications in China (ICCC) Dalian, China, 2023, pp. 1-6. PDF </li>
  <li>M. Li, <b>J. Gao</b>, C. Zhou, X. Shen and W. Zhuang, "<a href="https://dl.acm.org/doi/abs/10.1145/3566099.3569002">Adaptive Mobile VR Content Delivery for Industrial 5.0</a>," Workshop on Digital Twin and Edge AI for Industrial IoT, Proceedings of the 1st Workshop on Digital Twin & Edge AI for Industrial IoT, ACM MobiCom, Online, 2022, pp. 1-6. </li>
  <li>M. Li, <b>J. Gao</b>, C. Zhou, X. Shen and W. Zhuang, "<a href="https://ieeexplore.ieee.org/document/10001032">Digital Twin-Driven Computing Resource Management for Vehicular Networks</a>," IEEE Global Communications Conference (GLOBECOM), Rio de Janeiro, Brazil, 2022, pp. 5735-5740.</li>
  <li>S. Hu, M. Li, <b>J. Gao</b>, C. Zhou and X. Shen, "<a href="https://ieeexplore.ieee.org/document/10001005">Digital Twin-Assisted Adaptive DNN Inference in Industrial Internet of Things</a>," IEEE Global Communications Conference (GLOBECOM), Rio de Janeiro, Brazil, 2022, pp. 1025-1030.</li>
  <li>M. Li, <b>J. Gao</b>, N. Zhang, L. Zhao and X. Shen, "<a href="https://ieeexplore.ieee.org/abstract/document/9149333">Collaborative Computing in Vehicular Networks: A Deep Reinforcement Learning Approach</a>," IEEE International Conference on Communications (ICC), Dublin, Ireland, 2020, pp. 1-6.</li>
  <li>Y. Su, <b>J. Gao</b>, C. Yang and L. Zhao, "<a href="https://ieeexplore.ieee.org/abstract/document/9024613">SMDP-Based Prioritized Channel Allocations in Vehicular Ad Hoc Networks</a>," IEEE Global Communications Conference (GLOBECOM) Workshops, Waikoloa, HI, USA, 2019, pp. 1-6.</li>
  <li><b>J. Gao</b>, L. Zhao and X. Shen, "<a href="https://ieeexplore.ieee.org/abstract/document/9013175">Service Offloading in Terrestrial-Satellite Systems: User Preference and Network Utility</a>," IEEE Global Communications Conference (GLOBECOM), Waikoloa, HI, USA, 2019, pp. 1-6.</li>
  <li>M. Li, <b>J. Gao</b>, L. Zhao and X. S. Shen, "<a href="https://ieeexplore.ieee.org/abstract/document/8761714">Task Time Allocation and Reward Scheme for PEV Charging Station Advertising</a>," IEEE International Conference on Communications (ICC), Shanghai, China, 2019, pp. 1-6.</li>
  <li>S. Zhang, J. Li, H. Luo, <b>J. Gao</b>, L. Zhao and X. S. Shen, "<a href="https://ieeexplore.ieee.org/abstract/document/8555643">Towards Fresh and Low-Latency Content Delivery in Vehicular Networks: An Edge Caching Aspect</a>," International Conference on Wireless Communications and Signal Processing (WCSP), Hangzhou, China, 2018, pp. 1-6.</li>
  <li>Q. Li, <b>J. Gao</b>, J. Wen, X. Tang, L. Zhao and L. Sun, "<a href="https://ieeexplore.ieee.org/abstract/document/8726487">SMDP-Based Downlink Packet Scheduling Scheme for Solar Energy Assisted Heterogeneous Networks</a>," IEEE Green Computing and Communications (GreenCom), Halifax, NS, Canada, 2018, pp. 268-273.</li>
  <li><b>J. Gao</b>, L. Zhao and L. Sun, "<a href="https://ieeexplore.ieee.org/abstract/document/8494697">Probabilistic Caching as Mixed Strategies in Spatially-Coupled Edge Caching</a>," 2018 29th Biennial Symposium on Communications (BSC), Toronto, ON, Canada, 2018, pp. 1-5.</li>
  <li><b>J. Gao</b>, M. Li, P. He and L. Zhao, "<a href="https://ieeexplore.ieee.org/abstract/document/8288383">Incentive for Distributed Optimization in Multi-User Network: A Study of Two Scenarios</a>," IEEE 86th Vehicular Technology Conference (VTC-Fall), Toronto, ON, Canada, 2017, pp. 1-5.</li>
  <li>J. Li, <b>J. Gao</b>, and Z. Qiu. "<a href="https://ir.lib.uwo.ca/csce2016/London/Transportation/31/">Improving Intersection Throughput using Connected Vehicles</a>," in Canadian Society for Civil Engineering (CSCE) Annual Conference, London, ON, Canada, 2016, pp. 1-9. </li>
  <li>M. Mohammed, K. Yahui, <b>J. Gao</b>, H. Zhang, K. El-Basyouny, and Z. Qiu. "<a href="https://ir.lib.uwo.ca/csce2016/London/Transportation/4/">Connected Vehicle V2I Communication Application to Enhance Driver Awareness at Signalized Intersections</a>," in Canadian Society for Civil Engineering (CSCE) Annual Conference, London, ON, Canada, 2016, pp. 1-11. </li>
  <li>J. Li, <b>J. Gao</b>, Hui Zhang and Tony Z. Qiu, "<a href="https://trid.trb.org/view/1393160">A RSE-assisted GPS-RSS hybrid lane-level positioning system for connected vehicles</a>," in Transportation Research Board (TRB) 95th Annual Meeting, Washington DC, USA, 2016, pp. 1-17.</li>
  <li><b>J. Gao</b>, S. A. Vorobyov and H. Jiang, "<a href="https://ieeexplore.ieee.org/abstract/document/6854695">Efficient jamming strategies on a MIMO Gaussian channel with known target signal covariance</a>," IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP), Florence, Italy, 2014, pp. 5700-5704</li>
  <li><b>J. Gao</b>, J. Zhang, S. A. Vorobyov, H. Jiang and M. Haardt, "<a href="https://ieeexplore.ieee.org/abstract/document/6504022">Power allocation/beamforming for DF MIMO two-way relaying: Relay and network optimization</a>," IEEE Global Communications Conference (GLOBECOM), Anaheim, CA, USA, 2012, pp. 5657-5662.</li>
  <li><b>J. Gao</b>, S. A. Vorobyov and H. Jiang, "<a href="https://ieeexplore.ieee.org/abstract/document/6034066">Mixed strategy Nash equilibrium in two-user resource allocation games</a>," IEEE International Symposium on Information Theory (ISIT), St. Petersburg, Russia, 2011, pp. 2716-2720.</li>
  <li><b>J. Gao</b>, S. A. Vorobyov and H. Jiang, "<a href="https://ieeexplore.ieee.org/abstract/document/5496080">Pareto-optimal solutions of Nash bargaining resource allocation games with spectral mask and total power constraints</a>," IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP), Dallas, TX, USA, 2010, pp. 3146-3149.</li>
  <li><b>J. Gao</b>, S. A. Vorobyov and H. Jiang, "<a href="https://ieeexplore.ieee.org/abstract/document/4960095">Game theory for precoding in a multi-user system: Bargaining for overall benefits</a>," IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP),Taipei, Taiwan, 2009, pp. 2361-2364.</li>
  <li><b>J. Gao</b>, S. A. Vorobyov and H. Jiang, "<a href="https://ieeexplore.ieee.org/abstract/document/4698389">Game Theoretic Solutions for Precoding Strategies over the Interference Channel</a>," IEEE Global Telecommunications Conference (GLOBECOM), New Orleans, LA, USA, 2008, pp. 1-5. </li>
</ol> -->


<hr> 

<!-- <h1>Invited Talks</h1>
<ul style="list-style-type:disc;">
  <li> "Beyond 5G: Leveraging AI and Digital Twin for Automated Network Management," IEEE Vehicular Technology Society Young Professional Webinar, Apr. 1, 2024. </li>
  <li>"Beyond 5G: Leveraging AI and Digital Twins for Automated Network Management," Department of Electrical and Computer Engineering, Illinois Institute of Technology, United States, Feb. 24, 2023 [Online]. </li>
  <li>"Network Planning: From Slicing to Digital Twin," IEEE Canada Vehicular Technology Chapter Toronto Section, Toronto, Canada, June 2022.</li>
  <li>"Exploring User-Centric Networking: Scope and Supporting Techniques," IEEE Canada Vehicular Technology Chapter, Waterloo, Canada, June 2022.</li>
  <li>"Beyond 5G - The Integration of Satellite and Terrestrial Networks," 31st Annual Wisconsin Space Conference, Milwaukee, United States, Aug. 2021.</li>
  <li>"Next-Generation Wireless Networks Empowered by Virtualization and Artificial Intelligence," Department Colloquium, Electrical and Computer Engineering, Marquette University, Milwaukee, United States, Sept. 2020.</li>
  <li>"MAC Protocol Design for IoT Applications,"  IEEE Canada Vehicular Technology Chapter Toronto Section, Online, Aug. 2020.</li>
  <li>"MAC Protocol Design for IoT Applications," Department of Electrical and Computer Engineering, McMaster University,  Hamilton, Canada, Feb. 2020.</li>
</ul> -->


<hr> 




{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


