---
layout: archive
title: ""
permalink: /Publications/
author_profile: true
---



<h1>Research Interests</h1>

<ul style="list-style-type:disc;">
  <li>Beyond 5G (B5G) and 6G Networks</li>
  <li>Machine Learning for Communications and Networking</li>
  <li>Internet of Things (IoT) and Industrial IoT </li>
  <li>Network Virtualization and Digital Twins</li>
  <li>Artificial Intelligence (AI) for Network Security</li>
  <li>Satellite and UAV Networking </li>
</ul>


<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33%;
  padding: 10px;
}
</style>


<div class="row">
  <div class="column">
  <img src="../images/Research1.png" style="width:99%"  alt="">
  </div>
  <div class="column">
    <img src="../images/Research2.png" style="width:99%" alt="">
  </div>
    <div class="column">
    <img src="../images/Research3.png" style="width:99%" alt="">
  </div>
</div>

<div class="row">
  <div class="column">
  <img src="../images/Research4.png" style="width:75%"  alt="">
  </div>
  <div class="column">
    <img src="../images/Research5.png" style="width:85%" alt="">
  </div>
    <div class="column">
    <img src="../images/Research6.png" style="width:98%" alt="">
  </div>
</div>

<hr> 


<h1>Publications</h1>

{% if site.author.googlescholar %}
  <div class="wordwrap"> Also accessible on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<h2>Books</h2>
<ol type="1">
  <li>M. Li, <b>J. Gao</b>, X. Shen and L. Zhao, <a href="https://link.springer.com/book/10.1007/978-3-031-22860-5">Intelligent Computing and Communication for the Internet of Vehicles</a>. eBook ISBN 978-3-031-22860-5, Softcover ISBN: 978-3-031-22859-9. Springer, 2023.</li>
  <li><b>J. Gao</b>, M. Li, and W. Zhuang, <a href="https://link.springer.com/book/10.1007/978-3-030-88743-8">Connectivity and Edge Computing in IoT: Customized Designs and AI-based Solutions</a>. eBook ISBN 978-3-030-88743-8, Hardcover ISBN 978-3-030-88742-1. Springer, 2021.</li>
</ol>

<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
}
</style>


<div class="row">
  <div class="column">
  <center><img src="../images/Book.png" style="width:38%"  alt="Book1"></center>
  </div>
  <div class="column">
    <center><img src="../images/Book2.png" style="width:38%" alt="Book2"></center>
  </div>
</div>


<h2>Book Chapters</h2>
<ol type="1">
  <li><b>J. Gao</b>, M. Li, X. Ling, L. Zhao, and X. Shen, "State Transition Field: A New Framework for Mobile Dynamic Caching," in <a href="https://link.springer.com/book/10.1007/978-3-030-98064-1">Broadband Communications, Computing, and Control for Ubiquitous Intelligence</a>. Editors: L. Cai, B. L. Mark, and J. Pan, Springer, 2022, pp. 143-173.</li>
  <li><b>J. Gao</b>, S. A. Vorobyov, and H. Jiang, "Game theory in multiuser wireless communications," in <a href="https://www.taylorfrancis.com/books/edit/10.1201/b10975/game-theory-wireless-communications-networking-mohsen-guizani-yan-zhang">Game Theory for Wireless Communications and Networking</a>. Editors: Y. Zhang and M. Guizani, CRC Press, ISBN: 978-1-4398-0889-4, 2011, pp. 3-25.</li>
</ol>


<h2>Patents</h2>
<ol type="1">
  <li>W. Zhuang, <b>J. Gao</b>, X. Shen, and X. Li. <a href="https://patents.google.com/patent/US11991744B2/en?oq=US11991744">Method, apparatus and system for medium access control</a>. US Patent US11991744B2. 2024.</li>
  <li>W. Zhuang, <b>J. Gao</b>, X. Shen, and X. Li. <a href="https://patents.google.com/patent/US11363629B2/en?oq=US11363629">Method, apparatus and system for medium access control</a>. US Patent US11363629B2. 2022.</li>
</ol>




<h2>Journal Papers</h2>
<ol type="1">
  <li>M. Li, <b>J. Gao</b>, C. Zhou, L. Zhao and X. Shen, "<a href="https://ieeexplore.ieee.org/document/10643661">Digital Twin-Empowered Resource Allocation for On-Demand Collaborative Sensing</a>," IEEE Internet of Things Journal, early access.</li>
  <li>W. Li, W. Tian, Z. Yan , Z. Li, <b>J. Gao</b>, F. Wu, J. Liu, W. Chen and J. Ren, "<a href="https://ieeexplore.ieee.org/document/10412683">CoralDB: A Collaborative Database for Data Sharing based on Permissioned Blockchain</a>," IEEE Transactions on Mobile Computing, vol. 23, no. 9, pp. 8886-8901, Sept. 2024.</li>
  <li>Y. Chen, J. Xu, Y. Wu, <b>J. Gao</b> and L. Zhao, "<a href="https://ieeexplore.ieee.org/document/10470427">Dynamic Task Offloading and Resource Allocation for NOMA-aided Mobile Edge Computing: An Energy Efficient Design</a>," IEEE Transactions on Services Computing, vol. 17, no. 4, pp. 1492-1503, July-Aug. 2024.  </li>
  <li>Z. Cui, G. Wang, <b>J. Gao</b>, X. Lei and C. Tellambura, "<a href="https://ieeexplore.ieee.org/document/10375798">Channel Estimation for Backscatter Communication Systems under Circuit Sensitivity Constraint</a>," IEEE Transactions on Vehicular Technology,  vol. 73, no. 5, pp. 7441-7446, May 2024. </li>
  <li>C. Zhou, <b>J. Gao</b>, M. Li, N. Cheng, X. Shen and W. Zhuang, "<a href="https://ieeexplore.ieee.org/document/10440407">Digital Twin-based 3D Map Management for Edge-assisted Device Pose Tracking in Mobile AR</a>," IEEE Internet of Things Journal, vol. 11, no. 10, pp. 17812-17826, May 2024. PDF </li>
  <li>Q. Ouyang, N. Ye, <b>J. Gao</b>, A. Wang and L. Zhao, "<a href="https://ieeexplore.ieee.org/document/10143230">Joint In-Orbit Computation and Communication for Minimizing Download Time from LEO Satellites</a>," in IEEE Transactions on Mobile Computing, vol. 23, no. 5, pp. 3950-3963, May 2024. PDF </li>
  <li>S. Hu, M. Li, <b>J. Gao</b>, C. Zhou and X. Shen, "<a href="https://ieeexplore.ieee.org/document/10330564">Adaptive Device-Edge Collaboration on DNN Inference in AIoT: A Digital Twin-Assisted Approach</a>," IEEE Internet of Things Journal, vol. 11, no. 7, pp. 12893-12908, Apr. 2024. PDF </li>
  <li>C. Zhou, <b>J. Gao</b>, M. Li, X. Shen, W. Zhuang, X. Li and W. Shi, "<a href="https://ieeexplore.ieee.org/document/10228190">AI-Assisted Slicing-Based Resource Management for Two-Tier Radio Access Networks</a>," in IEEE Transactions on Cognitive Communications and Networking, vol. 9, no. 6, pp. 1691-1706, Dec. 2023. PDF</li>
  <li>M. Li, <b>J. Gao</b>, C. Zhou, X. Shen and W. Zhuang, "<a href="https://ieeexplore.ieee.org/abstract/document/10124955">User Dynamics-Aware Edge Caching and Computing for Mobile Virtual Reality</a>," in IEEE Journal of Selected Topics in Signal Processing, vol. 17, no. 5, pp. 1131-1146, Sept. 2023. PDF</li>
  <li>B. Xu, Z. Kuang, <b>J. Gao</b>, L. Zhao and C. Wu, "<a href="https://ieeexplore.ieee.org/abstract/document/10124955">Joint Offloading Decision and Trajectory Design for UAV-Enabled Edge Computing with Task Dependency</a>," in IEEE Transactions on Wireless Communications,  vol. 22, no. 8, pp. 5043-5055, Aug. 2023.</li>
  <li>T. Wang, N. Huang, Y. Wu, <b>J. Gao</b>, and T. Q. S. Quek, "<a href="https://ieeexplore.ieee.org/document/10007635">Latency-Oriented Secure Wireless Federated Learning: A Channel-Sharing Approach With Artificial Jamming</a>," in IEEE Internet of Things Journal, vol. 10, no. 11, pp. 9675-9689,  June 2023.</li>
  <li>L. Tan, Z. Kuang, <b>J. Gao</b> and L. Zhao, "<a href="https://ieeexplore.ieee.org/document/9916157">Energy-Efficient Collaborative Multi-Access Edge Computing Via Deep Reinforcement Learning</a>," in IEEE Transactions on Industrial Informatics, vol. 19, no. 6, pp. 7689-7699, June 2023.</li>
  <li>J. Gao, Z. Kuang, <b>J. Gao</b> and L. Zhao, "<a href="https://ieeexplore.ieee.org/document/9942346">Joint Offloading Scheduling and Resource Allocation in Vehicular Edge Computing: A Two Layer Solution</a>," in IEEE Transactions on Vehicular Technology, vol. 72, no. 3, pp. 3999-4009, Mar. 2023.</li>
  <li>M. Dai, N. Huang, Y. Wu, <b>J. Gao</b> and Z. Su, "<a href="https://ieeexplore.ieee.org/document/9994654">Unmanned Aerial Vehicles Assisted Wireless Networks: Advancements, Challenges, and Solutions</a>," in IEEE Internet of Things Journal, vol. 10, no. 5, pp. 4117-4147, Mar. 2023.</li>
  <li>X. Shen, <b>J. Gao</b>, M. Li, C. Zhou, S. Hu, M. He and W. Zhuang, "<a href="https://www.frontiersin.org/journals/computer-science/articles/10.3389/fcomp.2022.1068478/full">Toward Immersive Communications in 6G</a>," in Frontiers in Computer Science, vol. 4, pp. 1-31, Jan. 2023. <font color="#e91e63">[Invited Paper]</font> </li>
  <li>C. Zhou, <b>J. Gao</b>, M. Li, X. Shen and W. Zhuang, "<a href="https://ieeexplore.ieee.org/document/9906937">Digital Twin-Empowered Network Planning for Multi-Tier Computing</a>," in Journal of Communications and Information Networks, vol. 7, no. 3, pp. 221-238, Sept. 2022.  <font color="#e91e63">[Cover Article]</font> </li>
  <li>X. Shen, <b>J. Gao</b>, W. Wu, M. Li, C. Zhou and W. Zhuang, "<a href="https://ieeexplore.ieee.org/document/10470427">Holistic Network Virtualization and Pervasive Network Intelligence for 6G</a>," in IEEE Communications Surveys & Tutorials, vol. 24, no. 1, pp. 1-30, Firstquarter 2022.  <font color="#e91e63">[Invited Paper]</font> </li>
  <li>S. Zhang, J. Li, H. Luo, <b>J. Gao</b>, L. Zhao and X. Shen, "<a href="https://ieeexplore.ieee.org/abstract/document/9200738">Low-Latency and Fresh Content Provision in Information-Centric Vehicular Networks</a>," in IEEE Transactions on Mobile Computing, vol. 21, no. 5, pp. 1723-1738, May 2022.</li>
  <li>S. Fu, <b>J. Gao</b> and L. Zhao, "<a href="https://ieeexplore.ieee.org/abstract/document/9439153">Collaborative Multi-Resource Allocation in Terrestrial-Satellite Network Towards 6G</a>," in IEEE Transactions on Wireless Communications, vol. 20, no. 11, pp. 7057-7071, Nov. 2021.</li>
  <li>M. Li, <b>J. Gao</b>, L. Zhao and X. Shen, "<a href="https://ieeexplore.ieee.org/abstract/document/9366426">Adaptive Computing Scheduling for Edge-Assisted Autonomous Driving</a>," in IEEE Transactions on Vehicular Technology, vol. 70, no. 6, pp. 5318-5331, June 2021.</li>
  <li><b>J. Gao</b>, W. Zhuang, M. Li, X. Shen and X. Li, "<a href="https://ieeexplore.ieee.org/abstract/document/9320600">MAC for Machine-Type Communications in Industrial IoT—Part I: Protocol Design and Analysis</a>," in IEEE Internet of Things Journal, vol. 8, no. 12, pp. 9945-9957, June 2021.</li>
  <li><b>J. Gao</b>, M. Li, W. Zhuang, X. Shen and X. Li, "<a href="https://ieeexplore.ieee.org/abstract/document/9298854">MAC for Machine-Type Communications in Industrial IoT—Part II: Scheduling and Numerical Results</a>," in IEEE Internet of Things Journal, vol. 8, no. 12, pp. 9958-9969, June 2021.</li>
  <li><b>J. Gao</b>, S. Zhang, L. Zhao and X. Shen, "<a href="https://ieeexplore.ieee.org/abstract/document/8960482">The Design of Dynamic Probabilistic Caching with Time-Varying Content Popularity</a>," in IEEE Transactions on Mobile Computing, vol. 20, no. 4, pp. 1672-1684, Apr. 2021.</li>
  <li>M. Li, <b>J. Gao</b>, L. Zhao and X. Shen, "<a href="https://ieeexplore.ieee.org/abstract/document/9119487">Deep Reinforcement Learning for Collaborative Edge Computing in Vehicular Networks</a>," in IEEE Transactions on Cognitive Communications and Networking, vol. 6, no. 4, pp. 1122-1135, Dec. 2020.</li>
  <li>F. Wang, <b>J. Gao</b>, M. Li and L. Zhao, "<a href="https://ieeexplore.ieee.org/abstract/document/9204693">Autonomous PEV Charging Scheduling Using Dyna-Q Reinforcement Learning</a>," in IEEE Transactions on Vehicular Technology, vol. 69, no. 11, pp. 12609-12620, Nov. 2020.</li>
  <li>W. Li, X. Hu, <b>J. Gao</b>, L. Zhao and T. Jiang, "<a href="https://ieeexplore.ieee.org/abstract/document/8985425">Measurements and Analysis of Propagation Channels in Vehicle-to-Infrastructure Scenarios</a>," in IEEE Transactions on Vehicular Technology, vol. 69, no. 4, pp. 3550-3561, Apr. 2020.</li>
  <li>S. Fu, <b>J. Gao</b> and L. Zhao, "<a href="https://ieeexplore.ieee.org/abstract/document/8951285">Integrated Resource Management for Terrestrial-Satellite Systems</a>," in IEEE Transactions on Vehicular Technology, vol. 69, no. 3, pp. 3256-3266, Mar. 2020.</li>
  <li>M. Li, N. Cheng, <b>J. Gao</b>, Y. Wang, L. Zhao and X. Shen, "<a href="https://ieeexplore.ieee.org/abstract/document/8964328">Energy-Efficient UAV-Assisted Mobile Edge Computing: Resource Allocation and Trajectory Optimization</a>," in IEEE Transactions on Vehicular Technology, vol. 69, no. 3, pp. 3424-3438, Mar. 2020.  <font color="#e91e63">[IEEE Best Land Transportation Paper Award 2024</font> </li> 
  <li>X. Shen, <b>J. Gao</b>, W. Wu, K. Lyu, M. Li, W. Zhuang, X. Li, and J. Rao, "<a https://ieeexplore.ieee.org/abstract/document/8954683">AI-Assisted Network-Slicing Based Next-Generation Wireless Networks</a>," in IEEE Open Journal of Vehicular Technology, vol. 1, pp. 45-66, Jan. 2020. <font color="#e91e63">[Invited Paper]</font></li>
  <li>M. Li, <b>J. Gao</b>, N. Chen, L. Zhao and X. Shen, "<a href="https://ieeexplore.ieee.org/abstract/document/8892574">Decentralized PEV Power Allocation With Power Distribution and Transportation Constraints</a>," in IEEE Journal on Selected Areas in Communications, vol. 38, no. 1, pp. 229-243, Jan. 2020.</li>
  <li><b>J. Gao</b>, L. Zhao and X. Shen, "<a href="https://ieeexplore.ieee.org/abstract/document/8842622">The Study of Dynamic Caching via State Transition Field—the Case of Time-Invariant Popularity</a>," in IEEE Transactions on Wireless Communications, vol. 18, no. 12, pp. 5924-5937, Dec. 2019.</li>
  <li><b>J. Gao</b>, L. Zhao and X. Shen, "<a href="https://ieeexplore.ieee.org/document/8842609">The Study of Dynamic Caching via State Transition Field—the Case of Time-Varying Popularity</a>," in IEEE Transactions on Wireless Communications, vol. 18, no. 12, pp. 5938-5951, Dec. 2019.</li>
  <li>Z. Kuang, L. Li, <b>J. Gao</b>, L. Zhao and A. Liu, "<a href="https://ieeexplore.ieee.org/abstract/document/8692421">Partial Offloading Scheduling and Power Allocation for Mobile Edge Computing Systems</a>," in IEEE Internet of Things Journal, vol. 6, no. 4, pp. 6774-6785, Aug. 2019.</li>
  <li>Q. Li, <b>J. Gao</b>, H. Liang, L. Zhao and X. Tang, "<a href="https://ieeexplore.ieee.org/abstract/document/8611159">Optimal Power Allocation for Wireless Sensor Powered by Dedicated RF Energy Source</a>," in IEEE Transactions on Vehicular Technology, vol. 68, no. 3, pp. 2791-2801, Mar. 2019.</li>
  <li>J. Li, <b>J. Gao</b>, H. Zhang and T. Z. Qiu, "<a href="https://ieeexplore.ieee.org/abstract/document/8506611">RSE-Assisted Lane-Level Positioning Method for a Connected Vehicle Environment</a>," in IEEE Transactions on Intelligent Transportation Systems, vol. 20, no. 7, pp. 2644-2656, July 2019.</li>
  <li><b>J. Gao</b>, M. Li, L. Zhao and X. Shen, "<a href="https://ieeexplore.ieee.org/abstract/document/8493324">Contention Intensity Based Distributed Coordination for V2V Safety Message Broadcast</a>," in IEEE Transactions on Vehicular Technology, vol. 67, no. 12, pp. 12288-12301, Dec. 2018.</li>
  <li><b>J. Gao</b>, L. Zhao and X. Shen, "<a href="https://ieeexplore.ieee.org/abstract/document/8334574">Network Utility Maximization Based on an Incentive Mechanism for Truthful Reporting of Local Information</a>," in IEEE Transactions on Vehicular Technology, vol. 67, no. 8, pp. 7523-7537, Aug. 2018.</li>
  <li>Q. Li, L. Zhao, <b>J. Gao</b>, H. Liang, L. Zhao and X. Tang, "<a href="https://ieeexplore.ieee.org/abstract/document/8331089">SMDP-Based Coordinated Virtual Machine Allocations in Cloud-Fog Computing Systems</a>," in IEEE Internet of Things Journal, vol. 5, no. 3, pp. 1977-1988, June 2018.</li>
  <li><b>J. Gao</b>, S. A. Vorobyov, H. Jiang and H. V. Poor, "<a href="https://ieeexplore.ieee.org/abstract/document/7161401">Worst-Case Jamming on MIMO Gaussian Channels</a>," in IEEE Transactions on Signal Processing, vol. 63, no. 21, pp. 5821-5836, Nov.1, 2015.</li>
  <li><b>J. Gao</b>, S. A. Vorobyov, H. Jiang, J. Zhang and M. Haardt, "<a href="https://ieeexplore.ieee.org/abstract/document/6514905">Sum-Rate Maximization With Minimum Power Consumption for MIMO DF Two-Way Relaying— Part I: Relay Optimization</a>," in IEEE Transactions on Signal Processing, vol. 61, no. 14, pp. 3563-3577, July 2013.</li>
  <li><b>J. Gao</b>, S. A. Vorobyov, H. Jiang, J. Zhang and M. Haardt, "<a href="https://ieeexplore.ieee.org/abstract/document/6517001">Sum-Rate Maximization With Minimum Power Consumption for MIMO DF Two-Way Relaying— Part II: Network Optimization</a>," in IEEE Transactions on Signal Processing, vol. 61, no. 14, pp. 3578-3591, July 2013.</li>
  <li><b>J. Gao</b>, S. A. Vorobyov and H. Jiang, "<a href="https://ieeexplore.ieee.org/abstract/document/5447732">Cooperative Resource Allocation Games Under Spectral Mask and Total Power Constraints</a>," in IEEE Transactions on Signal Processing, vol. 58, no. 8, pp. 4379-4395, Aug. 2010.</li>
</ol>


<h2>Magazine Papers</h2>
<ol type="1">
  <li>N. Huang, M. Dai, Y. Wu, L. Qian, <b>J. Gao</b> and Z. Su, "<a href="https://ieeexplore.ieee.org/document/10273259">Networked Integration of Sensing and Communication for Extended Reality: Framework, Challenges and Solutions</a>," in IEEE Network, vol. 38, no. 3, pp. 269-276, May 2024. </li>
  <li>M. Li, <b>J. Gao</b>, C. Zhou, X. S. Shen and W. Zhuang, "<a href="https://ieeexplore.ieee.org/abstract/document/9586568">Slicing-Based Artificial Intelligence Service Provisioning on the Network Edge: Balancing AI Service Performance and Resource Consumption of Data Management</a>," in IEEE Vehicular Technology Magazine, vol. 16, no. 4, pp. 16-26, Dec. 2021. </li>
</ol>


<h2>Conference Papers</h2>
<ol type="1">
  <li>M. Li, <b>J. Gao</b>, C. Zhou, L. Zhao and X. Shen, "On-Demand Collaborative Sensing with Digital Twin-Driven Resource Allocation," IEEE 100th Vehicular Technology Conference (24VTC-Fall), accepted. </li>
  <li>C. Zhou, <b>J. Gao</b>, Y. Liu, S. Hu, Nan Cheng and X. Shen, "User-centric Service Provision for Edge-assisted Mobile AR: A Digital Twin-based Approach," IEEE/CIC International Conference on Communications in China (ICCC), Hangzhou, China, Aug. 2024, pp. 850-855.</li>
  <li>S. Hu, <b>J. Gao</b>, X. H, C. Zhou, M. He, and X. Shen, "Model Drift-Adaptive Resource Reservation in ISAC Networks: A Digital Twin-Based Approach," IEEE/CIC International Conference on Communications in China (ICCC), Hangzhou, China, Aug. 2024, pp. 2143-2148. </li>
  <li>S. Hu, <b>J. Gao</b>, X. Huang, M. Li, K. Qu, C. Zhou and X. Shen, "<a href="https://ieeexplore.ieee.org/document/10622545">Digital Twin-Based User-Centric Edge Continual Learning in Integrated Sensing and Communication</a>," IEEE International Conference on Communications (ICC), Denver, CO, USA, 2024, pp. 5646-5651.</li>
  <li>A. Ajeena*, <b>J. Gao</b>, M. Hayat, L. Zhao and X. Shen, "<a href="https://ieeexplore.ieee.org/document/10622543">Location-Based Medium Access Control for Next-Generation Industrial IoT Networks</a>,"  IEEE International Conference on Communications (ICC),  Denver, CO, USA, 2024, pp. 4799-4804. </li>
  <li>C. Meng, F. Lyu, <b>J. Gao</b>, T. Liu, J. Ma and X. Shen, "<a href="https://ieeexplore.ieee.org/document/10622377">FL2ETD: A Few-Shot Learning Framework to Electricity Theft Detection</a>," IEEE International Conference on Communications (ICC), Denver, CO, USA, 2024, pp. 2495-2500.</li>
  <li>S. Wang, F. Wu, <b>J. Gao</b>, S. Duan, F. Lyv, H. Wu, Y. Zhang and X. Shen, "<a href="https://ieeexplore.ieee.org/document/10437846">Dynamic RRH-BBU Mapping for C-RAN: A Data-Driven Approach</a>," IEEE Global Communications Conference (GLOBECOM), Kuala Lumpur, Malaysia, 2023, pp. 2656-2661. </li>
  <li>C. Zhou, <b>J. Gao</b>, M. Li, N. Cheng, X. Shen and W. Zhuang, "<a href="https://ieeexplore.ieee.org/document/10233293">Digital Twin-Based 3D Map Management for Edge-Assisted Mobile Augmented Reality</a>," IEEE/CIC International Conference on Communications in China (ICCC) Dalian, China, 2023, pp. 1-6. PDF </li>
  <li>M. Li, <b>J. Gao</b>, C. Zhou, X. Shen and W. Zhuang, "<a href="https://dl.acm.org/doi/abs/10.1145/3566099.3569002">Adaptive Mobile VR Content Delivery for Industrial 5.0</a>," Workshop on Digital Twin and Edge AI for Industrial IoT, Proceedings of the 1st Workshop on Digital Twin & Edge AI for Industrial IoT, ACM MobiCom, Online, 2022, pp. 1-6. </li>
  <li>M. Li, <b>J. Gao</b>, C. Zhou, X. Shen and W. Zhuang, "<a href="https://ieeexplore.ieee.org/document/10001032">Digital Twin-Driven Computing Resource Management for Vehicular Networks</a>," IEEE Global Communications Conference (GLOBECOM), Rio de Janeiro, Brazil, 2022, pp. 5735-5740.</li>
  <li>S. Hu, M. Li, <b>J. Gao</b>, C. Zhou and X. Shen, "<a href="https://ieeexplore.ieee.org/document/10001005">Digital Twin-Assisted Adaptive DNN Inference in Industrial Internet of Things</a>," IEEE Global Communications Conference (GLOBECOM), Rio de Janeiro, Brazil, 2022, pp. 1025-1030.</li>
  <li>M. Li, <b>J. Gao</b>, N. Zhang, L. Zhao and X. Shen, "<a href="https://ieeexplore.ieee.org/abstract/document/9149333">Collaborative Computing in Vehicular Networks: A Deep Reinforcement Learning Approach</a>," IEEE International Conference on Communications (ICC), Dublin, Ireland, 2020, pp. 1-6.</li>
  <li>Y. Su, <b>J. Gao</b>, C. Yang and L. Zhao, "<a href="https://ieeexplore.ieee.org/abstract/document/9024613">SMDP-Based Prioritized Channel Allocations in Vehicular Ad Hoc Networks</a>," IEEE Global Communications Conference (GLOBECOM) Workshops, Waikoloa, HI, USA, 2019, pp. 1-6.</li>
  <li><b>J. Gao</b>, L. Zhao and X. Shen, "<a href="https://ieeexplore.ieee.org/abstract/document/9013175">Service Offloading in Terrestrial-Satellite Systems: User Preference and Network Utility</a>," IEEE Global Communications Conference (GLOBECOM), Waikoloa, HI, USA, 2019, pp. 1-6.</li>
  <li>M. Li, <b>J. Gao</b>, L. Zhao and X. S. Shen, "<a href="https://ieeexplore.ieee.org/abstract/document/8761714">Task Time Allocation and Reward Scheme for PEV Charging Station Advertising</a>," IEEE International Conference on Communications (ICC), Shanghai, China, 2019, pp. 1-6.</li>
  <li>S. Zhang, J. Li, H. Luo, <b>J. Gao</b>, L. Zhao and X. S. Shen, "<a href="https://ieeexplore.ieee.org/abstract/document/8555643">Towards Fresh and Low-Latency Content Delivery in Vehicular Networks: An Edge Caching Aspect</a>," International Conference on Wireless Communications and Signal Processing (WCSP), Hangzhou, China, 2018, pp. 1-6.</li>
  <li>Q. Li, <b>J. Gao</b>, J. Wen, X. Tang, L. Zhao and L. Sun, "<a href="https://ieeexplore.ieee.org/abstract/document/8726487">SMDP-Based Downlink Packet Scheduling Scheme for Solar Energy Assisted Heterogeneous Networks</a>," IEEE Green Computing and Communications (GreenCom), Halifax, NS, Canada, 2018, pp. 268-273.</li>
  <li><b>J. Gao</b>, L. Zhao and L. Sun, "<a href="https://ieeexplore.ieee.org/abstract/document/8494697">Probabilistic Caching as Mixed Strategies in Spatially-Coupled Edge Caching</a>," 2018 29th Biennial Symposium on Communications (BSC), Toronto, ON, Canada, 2018, pp. 1-5.</li>
  <li><b>J. Gao</b>, M. Li, P. He and L. Zhao, "<a href="https://ieeexplore.ieee.org/abstract/document/8288383">Incentive for Distributed Optimization in Multi-User Network: A Study of Two Scenarios</a>," IEEE 86th Vehicular Technology Conference (VTC-Fall), Toronto, ON, Canada, 2017, pp. 1-5.</li>
  <li>J. Li, <b>J. Gao</b>, and Z. Qiu. "<a href="https://ir.lib.uwo.ca/csce2016/London/Transportation/31/">Improving Intersection Throughput using Connected Vehicles</a>," in Canadian Society for Civil Engineering (CSCE) Annual Conference, London, ON, Canada, 2016, pp. 1-9. </li>
  <li>M. Mohammed, K. Yahui, <b>J. Gao</b>, H. Zhang, K. El-Basyouny, and Z. Qiu. "<a href="https://ir.lib.uwo.ca/csce2016/London/Transportation/4/">Connected Vehicle V2I Communication Application to Enhance Driver Awareness at Signalized Intersections</a>," in Canadian Society for Civil Engineering (CSCE) Annual Conference, London, ON, Canada, 2016, pp. 1-11. </li>
  <li>J. Li, <b>J. Gao</b>, Hui Zhang and Tony Z. Qiu, "<a href="https://trid.trb.org/view/1393160">A RSE-assisted GPS-RSS hybrid lane-level positioning system for connected vehicles</a>," in Transportation Research Board (TRB) 95th Annual Meeting, Washington DC, USA, 2016, pp. 1-17.</li>
  <li><b>J. Gao</b>, S. A. Vorobyov and H. Jiang, "<a href="https://ieeexplore.ieee.org/abstract/document/6854695">Efficient jamming strategies on a MIMO Gaussian channel with known target signal covariance</a>," IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP), Florence, Italy, 2014, pp. 5700-5704</li>
  <li><b>J. Gao</b>, J. Zhang, S. A. Vorobyov, H. Jiang and M. Haardt, "<a href="https://ieeexplore.ieee.org/abstract/document/6504022">Power allocation/beamforming for DF MIMO two-way relaying: Relay and network optimization</a>," IEEE Global Communications Conference (GLOBECOM), Anaheim, CA, USA, 2012, pp. 5657-5662.</li>
  <li><b>J. Gao</b>, S. A. Vorobyov and H. Jiang, "<a href="https://ieeexplore.ieee.org/abstract/document/6034066">Mixed strategy Nash equilibrium in two-user resource allocation games</a>," IEEE International Symposium on Information Theory (ISIT), St. Petersburg, Russia, 2011, pp. 2716-2720.</li>
  <li><b>J. Gao</b>, S. A. Vorobyov and H. Jiang, "<a href="https://ieeexplore.ieee.org/abstract/document/5496080">Pareto-optimal solutions of Nash bargaining resource allocation games with spectral mask and total power constraints</a>," IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP), Dallas, TX, USA, 2010, pp. 3146-3149.</li>
  <li><b>J. Gao</b>, S. A. Vorobyov and H. Jiang, "<a href="https://ieeexplore.ieee.org/abstract/document/4960095">Game theory for precoding in a multi-user system: Bargaining for overall benefits</a>," IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP),Taipei, Taiwan, 2009, pp. 2361-2364.</li>
  <li><b>J. Gao</b>, S. A. Vorobyov and H. Jiang, "<a href="https://ieeexplore.ieee.org/abstract/document/4698389">Game Theoretic Solutions for Precoding Strategies over the Interference Channel</a>," IEEE Global Telecommunications Conference (GLOBECOM), New Orleans, LA, USA, 2008, pp. 1-5. </li>
</ol>


<hr> 

<h1>Invited Talks</h1>
<ul style="list-style-type:disc;">
  <li> "Beyond 5G: Leveraging AI and Digital Twin for Automated Network Management," IEEE Vehicular Technology Society Young Professional Webinar, Apr. 1, 2024. </li>
  <li>"Beyond 5G: Leveraging AI and Digital Twins for Automated Network Management," Department of Electrical and Computer Engineering, Illinois Institute of Technology, United States, Feb. 24, 2023 [Online]. </li>
  <li>"Network Planning: From Slicing to Digital Twin," IEEE Canada Vehicular Technology Chapter Toronto Section, Toronto, Canada, June 2022.</li>
  <li>"Exploring User-Centric Networking: Scope and Supporting Techniques," IEEE Canada Vehicular Technology Chapter, Waterloo, Canada, June 2022.</li>
  <li>"Beyond 5G - The Integration of Satellite and Terrestrial Networks," 31st Annual Wisconsin Space Conference, Milwaukee, United States, Aug. 2021.</li>
  <li>"Next-Generation Wireless Networks Empowered by Virtualization and Artificial Intelligence," Department Colloquium, Electrical and Computer Engineering, Marquette University, Milwaukee, United States, Sept. 2020.</li>
  <li>"MAC Protocol Design for IoT Applications,"  IEEE Canada Vehicular Technology Chapter Toronto Section, Online, Aug. 2020.</li>
  <li>"MAC Protocol Design for IoT Applications," Department of Electrical and Computer Engineering, McMaster University,  Hamilton, Canada, Feb. 2020.</li>
</ul>


<hr> 




{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


